

body{
    font-family: 'Noto Sans TC', sans-serif;
}

#portada{
    /* background-image: url(../images/entrada1.jpg); */
    width: 100%;
    height: 80vh;
}
#logo{
    padding-top: 0%;
    width: auto;
    height: 120px;
}
#videoisep{
    width: 100%;
    height: 80vh;
}